<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <span>노트북</span><br>

    <ul>
      <li v-for="(company, idx) in companies" :key="idx">
        <input type="checkbox" v-model="selectedCom" v-bind:value="company">
        <span> {{ company.name }} </span>
      </li>
    </ul>

    <button @click="selectAll">모두 선택</button>
    <button @click="resetAll">모두 해제</button>

    <ul>
      <li v-for="(company, idx) in selectedCom" :key="idx">
        <strong>{{ company.name }}</strong> <strong>{{ company.product }}</strong>
        <strong>{{ company.price | currency }}</strong>
      </li>
    </ul>

    <p>합계: {{ totalPrice | currency }} 원</p>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

  <script>
    new Vue({
      el: "#app",
      data(){
        return {
          companies: [
            {name: 'LG', product: 'LG전자 2019 그램 15ZD990-VX50K', price: 1402000},
            {name: 'SAMSUNG', product: '삼성전자 2019 노트북 Pen S 15ZD990-VX50K', price: 2157000},
            {name: 'Lenovo', product: '레노버 2019 노트북 Pen S 15ZD990-VX50K', price: 1313000},
            {name: 'ASUS', product: '아수스 2019 노트북 Pen S 15ZD990-VX50K', price: 1127000},
            {name: 'Apple', product: '애플 2019 노트북 Pen S 15ZD990-VX50K', price: 2769000},
          ],
          selectedCom: []
        }
      },
      methods: {
        selectAll(){
          this.selectedCom = this.companies;
        },
        resetAll(){
          this.selectedCom = [];
        }
      },
      computed: {
        totalPrice(){
          var totalAmount = 0;
          for(i = 0; i < this.selectedCom.length; i++){
            totalAmount += this.selectedCom[i].price;
          }
          return totalAmount;
        }
      },
      filters: {
        currency(value){
          return new Intl.NumberFormat("ko-KR", {style: 'decimal'}).format(value);
        }
      }
    })
  </script>

  <style>
    ul {list-style: none; padding: 0;}
    li {background-color: #a7ffeb; border: 2px solid teal; padding: 5px; margin-bottom: 5px;}
    p {background-color: blue; color: white; padding: 5px;}
  </style>
</body>
</html>