<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <select v-model="selectedItem" name="" id="" multiple="multiple">
      <option v-for="item in items" :key="item">{{ item }}</option>
    </select>
    <span>선택된 도시 : {{ selectedItem }}</span>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

  <script>
    var vm = new Vue({
      el: "#app",
      data() {
        return {
          selectedItem : [],
          items: ['Seoul','Paris','Seattle','Venezia']
        }
      },
    })
  </script>

  <style>
    
  </style>
</body>
</html>